<div class="nested-fields">
  <%= form.hidden_field :_destroy %>

  <%= form.label :weight, 'Weight:' %>
  <%= form.number_field :weight, required: true, type: "number", data: {
      calculator_target: "weight",
      action: "input->calculator#calculateTotalWeight"}, class: "w-1/4 bg-slate-100 hover:bg-slate-200 border-0 border-b rounded-md" %>

  <%= form.label :reps, '# of reps:' %>
  <%= form.number_field :reps, required: true, type: "number", data: {
      calculator_target: "reps",
      action: "input->calculator#calculateTotalWeight"}, class: "w-1/4 m-1 bg-slate-100 hover:bg-slate-200 border-0 border-b rounded-md" %>

  <%= link_to "Remove", "#", data: { action: "nested-form#removeField" }, class: "text-red-500" %>
</div>