<div class="nested-fields">
  <%= form.hidden_field :_destroy %>

  <%= form.label :weight, 'Weight:' %>
  <%= form.number_field :weight, required: true, type: "number", data: {
      calculator_target: "weight",
      action: "input->calculator#calculateTotalWeight"} %>

  <%= form.label :reps, '# of reps:' %>
  <%= form.number_field :reps, required: true, type: "number", data: {
      calculator_target: "reps",
      action: "input->calculator#calculateTotalWeight"} %>

  <%= link_to "Remove", "#", data: { action: "nested-form#removeField" } %>
</div>