<div class="nested-fields">
  <%= form.hidden_field :_destroy %>
  <%= form.label :lift_name, 'Lift name:' %><br>
  <%= form.text_field :lift_name %><br>
  <div data-controller="nested-form">
    <template data-nested-form-target="Template">
      <%= form.fields_for :groups, Group.new, child_index: 'TEMPLATE_RECORD' do |form| %>
        <div class="nested-fields">
          <%= form.hidden_field :_destroy %>

          <%= form.label :weight, 'Weight:' %>
          <%= form.text_field :weight %>

          <%= form.label :reps, '# of reps:' %>
          <%= form.text_field :reps %>

          <%= link_to "Remove", "#", data: { action: "nested-form#removeField" } %>
        </div>
      <% end %>
    </template>
    <div data-nested-form-target="addField">
      <button data-action="click->nested-form#addField">Add Set</button>
    </div>
  </div>
  <%= link_to "Remove", "#", data: { action: "nested-form#removeField"} %><br>
</div>