<%= form_with model: @workout do |form| %>
  <%= form.label :date %><br>
  <%= form.date_field :date %><br>

  <%= form.label :workout_name, 'Workout name (optional):' %><br>
  <%= form.text_field :workout_name %><br>


  <div data-controller="nested-form">
    <template data-nested-form-target="Template">
      <%= form.fields_for :lifts, Lift.new, child_index: 'TEMPLATE_RECORD' do |lift| %>
        <%= render 'lift_fields', form: lift %>
      <% end %>
    </template>
    <div data-nested-form-target="addLift">
      <button data-action="nested-form#addField">Add lift</button>
    </div>
  </div>

  <%= form.label :total, 'Total Weight Moved:' %><br>
  <%= form.text_field :total %>
<% end %>