<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign In to Track Your Progress", new_user_session_path %>
<% end %>
<div class="flex justify-center">
  <div class="m-12 border rounded-lg shadow-md w-3/5 p-7">
    <%= form_with model: @workout do |form| %>
      <div class="flex rounded">
        <div class="w-2/5 rounded">
          <%= form.label :date %><br>
          <%= form.date_field :date, required: true, class: "rounded-md" %>
        </div>
        <div class="w-3/5"
          <%= form.label :workout_name, 'Workout name (optional):' %><br>
          <%= form.text_field :workout_name, class: "rounded-md" %><br>
        </div>
      </div>

      <div data-controller="calculator" data-action="click->calculator#calculateTotalWeight">
        <div data-controller="nested-form">
          <template data-nested-form-target="liftTemplate">
            <%= form.fields_for :lifts, Lift.new, child_index: 'TEMPLATE_LIFT' do |lift| %>
              <%= render 'lift_fields', form: lift %>
            <% end %>
          </template>
          <div data-nested-form-target="addLift">
            <button class="text-green-700" data-action="nested-form#addLift">Add Lift</button>
          </div>
        </div>

        <%= form.label :total, 'Total Weight Moved:' %><br>
        <%= form.text_field :total, data: {
            calculator_target: "totalWeight" }, class: "rounded-md" %>
      </div>
      <% if user_signed_in? %>
        <%= form.submit "Save Workout", :class => "button" %><br>
      <% end %>
    <% end %>
  </div>
</div>