<div class="flex justify-center">
  <div class="m-12 border rounded-lg shadow-md w-4/5 sm:w-4/5 md:w-3/5 lg:w-1/2 xl:w-2/5 p-7">
    <%= form_with model: @workout do |form| %>
      <div class="flex justify-between flex-col sm:flex-row rounded">
        <div class="w-full sm:mr-1">
          <%= form.label :date, class: "text-sm font-medium" %>
          <%= form.date_field :date, required: true, class: "rounded-md w-full" %>
        </div>
        <div class="w-full sm:ml-1">
          <%= form.label :workout_name, 'Workout Name (optional)', class: "text-sm font-medium" %>
          <%= form.text_field :workout_name, class: "rounded-md w-full" %><br>
        </div>
      </div>

      <div data-controller="calculator" data-action="click->calculator#calculateTotalWeight">
        <div data-controller="nested-form">
          <template data-nested-form-target="liftTemplate">
            <%= form.fields_for :lifts, Lift.new, child_index: 'TEMPLATE_LIFT' do |lift| %>
              <%= render 'lift_fields', form: lift %>
            <% end %>
          </template>
          <div data-nested-form-target="addLift">
            <button class="text-green-700" data-action="nested-form#addLift">Add Lift</button>
          </div>
        </div>

        <%= form.label :total, 'Total Weight Moved', class: "text-sm font-medium" %><br>
        <%= form.text_field :total, data: {
            calculator_target: "totalWeight" }, class: "rounded-md w-full" %>
      </div>
      <% if user_signed_in? %>
        <%= form.submit "Save Workout", class: "border rounded-md p-1 mt-1 bg-slate-100" %><br>
      <% end %>
    <% end %>
    <% if flash[:error].present? %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
</div>